BLOCKING_ENABLED=true
{# the following if-else sets one password for FM-NET, and another (default) for all other hosts #}
{% if lan.domain is defined and lan.domain == "fmnet" %}
WEBPASSWORD={{ lookup("community.general.passwordstore", "ansible/roles/pihole/fmpassword_hash") }}
{% else %}
WEBPASSWORD={{ lookup("community.general.passwordstore", "ansible/roles/pihole/webpassword_hash") }}
{% endif %}
PIHOLE_INTERFACE={{ pihole.network.interface }}
IPV4_ADDRESS={{ pihole.network.ipv4 }}
IPV6_ADDRESS={{ pihole.network.ipv6 | default('') }}
QUERY_LOGGING=false
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
DNSMASQ_LISTENING=single
{# I would like my code here to work whether .dns is a single item or a list, but I have not been able to figure that out. For the time being, pihole.dns must be a list, 
even if it only contains a single item #}
PIHOLE_DNS_1={{ pihole.dns [0] }}
PIHOLE_DNS_2={{ pihole.dns [1] | default('') }}
DNS_FQDN_REQUIRED=true
DNSSEC=false
{# the following if-else sets all settings necessary to use conditional forwarding or disables it #}
{% if lan.domain is defined and lan.gateway.ipv4 is defined %}
DNS_BOGUS_PRIV=false
CONDITIONAL_FORWARDING=true
CONDITIONAL_FORWARDING_IP={{ lan.gateway.ipv4 }}
CONDITIONAL_FORWARDING_DOMAIN={{ lan.domain }}
{# we use python string manipulation to flip the IP address and append #}
{# https://reddit.com/r/pihole/comments/a9ktnl/getting_pihole_to_do_reverse_lookup/ #}
CONDITIONAL_FORWARDING_REVERSE={{ (lan.gateway.ipv4.split('.'))[0:3:][::-1] | join('.') + '.in-addr.arpa' }}
{% else %}
DNS_BOGUS_PRIV=true
CONDITIONAL_FORWARDING=false
{% endif %}
